body {
   
    font-family:monospace;
    background-color: white;
    text-align:center;
  }
  #title{
    font-size:50px;
    margin:auto;
  }
  #image{
    border-radius:10px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) ;
  }
  
  ul{
    font-size:15px;
    text-align:left;
    margin: 0 auto 50px auto;
  }
  h3{
    border-color:black;
    border-width:2px;
    border-style:solid;
    
  }
  #headline{
    margin:30px;
    font-size:20px
  }
  
  @media (max-width:460px){
    #main {
      margin: 0;
    }
  }
  #image{
      max-width:100%;
       }
  
  h4{
    font-size:15px;
    padding:auto;
  }
  
  blockqoute{
    font-style:italic;
    margin: 0 auto 50px auto;
    font-size:15px;
    
  }
  
  