body {
    background-color: rgb(183, 243, 210);
    /*style for background by Ligia*/
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    /*style for title by Ligia*/
  }

  p{
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: black;
    /*style for Human and Robot by Ligia*/
  }

  .choices {
    display: flex;
    margin: auto;
    justify-content: center;
    /* center me agyi emojis */
  }
  
  .choice {
    background: none;
    border: none;
    outline: none;
      /* boxes emojis ke peeche se remove hogye */
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
      /* will hover smoothley */
   
  }
  
  .choice:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 5rem;
    display: grid;
    font-size: 2rem;
     /* Human or robot center hogya */
    grid-template-columns: repeat(2, 1fr);
      /* columns bngye  */
    justify-items: center;
    align-items: center;
  }

 