*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: cursive;
}

header{
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("card4.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
width: 100vw;
position: relative;
box-sizing: border-box;
}
nav{
    width: 100%;
    height: 8rem;
    color: white;
    /* display: flex;
    flex-direction: row; */
    display: inline-block;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    border: 2px solid white;
    border-radius: 3.5rem;
    height: 7rem;
    width: 16rem;
    padding: 0.3rem;
    margin: 1.5rem;
}
nav ul{
    margin-left: 60rem;
    margin-top: -6.7rem;
    text-align: center;
}
nav li{
    display: inline-flex;
    list-style: none;
    padding: 1.5rem;
  

}
nav li a{
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.5s;

}
nav li a:hover{
    color: gold;
    border-bottom: 2px solid gold;
    
}
nav li a:hover ::after{
    content: " ";

}


.contain{
    color: white;
    margin-bottom: 7rem;
   position: absolute;
   top: 50%;
   left: 10%;
}
h1{
    font-size: 5rem;
    margin-bottom: 4rem;
    font-weight: lighter;
    font-family: cursive;
}
.contain a:nth-child(2){
    text-decoration: none;
    color: #bf55ec;
    padding:1.5rem 3rem;
    font-size: 1.9rem;
    border: 1px solid #bf55ec;
    border-radius: 200px;
    background-color: transparent;


}

.contain a:nth-child(3){
    text-decoration: none;
    color: white;
    padding:1.5rem 3rem;
    font-size: 1.9rem;
    border: 1px solid white;
    border-radius: 20rem;
    background-color: transparent;


}
.contain a:nth-child(2):hover{
    background-color:gray;
}
.contain a:nth-child(3):hover{
    background-color:gray;
}
span{
    font-size: 5rem;
    animation: color 1s infinite;

}
footer{
    background-color: rgb(117, 117, 126);
    color: black;
   
}
footer p{
    font-size: 1.5rem ;
    padding: 3px;
    text-align: center;
    
}
@keyframes color{
    0%{
        color:red;
    }
    25%{
        color:#bf55ec;;
    }
    50%{
        color: white;
    }
    75%{
        color: #bf55ec;;
    }
    100%{
        color:orangered;
    }
    
}
@media only screen and (max-width: 1180px){
    *{
        font-size: 9px;
    }

}
@media only screen and (max-width: 1162px){
    *{
           font-size: 8px;
    }
    nav li a{
        font-size: 1.5rem;
    }

}
@media only screen and (max-width: 1162px){
    *{
           font-size: 8px;
    }

}
@media only screen and (max-width: 956px){
    *{
           font-size: 7px;
    }
    nav li a{
        font-size: 1.5rem;
    }


}
@media only screen and (max-width:956px){
   h1{
       font-size: 4rem;
   }

}
@media only screen and (max-width:956px){
    *{
        font-size: 6.5px;
 }
}
@media only screen and (max-width:600px){
    h1{
        font-size: 3rem;
    }
    nav{
        display: block;
    }
 

 }
 @media only screen and (max-width:600px){
    *{
        font-size: 6px;
 }
 nav{
     display: block;
 }
 }