@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-image: url(img/bg.jpg);  
    background-repeat: none;
    background-size: auto;
    color: aliceblue;
}
