@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: black;
}

.Homecontainer{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    padding: 0;
    height: 90vh;
    
}
.leftAlign{
    margin: 0;
    width: 50%;
    /* background-color:red; */
    background: url(../img/blue_hexagon_pattern_background.jpg);
    background-position: center;
    background-repeat: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.startGameContainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightAlign{
    width: 50%;
    background-color: #fff;
    color: #1BA3DF;
}
.rightAlign h1{
    font-weight: bolder;
}
.cardInner{
    /* border:2px solid grey; */
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.quizContainer{
    border:2px solid black;
    width:50%;
    height:40vh;
    background-color: aliceblue;
}
.quizContainer ul li{
    list-style: none;
}
.btn{
    width:10vw;
}
.btn:hover{
    border: none;
    background-color: none;
    color: #EC756E;
    width: 10vw;
    font-size: large;
    box-shadow: none;
}
.play,.search{
    background-color: #EC756E;
    color: white;
}
.highScoresBtn{
    background-color: #EC756E;
    color: white;
}
@media screen and (max-width: 414px){
    .Homecontainer{
        display: flex;
        flex-direction:column;
        height:100vh;
        width:100%;
    }
    .leftAlign{
        width:100%;
        height:50%;
    }
    .rightAlign{
        width: 100%;
        height: 50vh;;
    }
    .cardInner{
        width: 90%;
        height: 35vh;
    }
    .cardInner h1{
        font-size: 80px;
    }
    .btn{
        width:90%;
        height: 80%;
        margin: 2%;
        font-size: 30px;
    }
}