*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header{
    color: white;
    font-family: 'Fruktur', cursive;
    font-size: 1.5rem;
}
#navbar{
    padding: 10px;background: #CD113B;
}
#navbar li {
    list-style: none;
}
#navbar li a{
    color: WHITE;
    padding: 25px;
    text-decoration: none;
}
#navbar li a:hover{
    color: black;
    background-color: #ff7600;
    opacity: 0.5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: -1;
}
.panati-roller  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7600;
    margin: 0;
}
.panati-roller .box img{
    height: 60px;
}
.panati-roller1  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7600;
    margin-top: -22px;
}
.panati-roller1 .box img{
    height: 60px;
}
#historycontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa900;
}
#historycontainer .box2 img{
    height: 500px;
}
#historycontainer {
    border: #52006a solid 2px;
}
#historycontainer .box2 p{
    padding: 20px;
    font-size: 1.5rem;
}
.h-primary{
    padding-top: 5px;
    font-size: 2rem;
    font-family: 'Fruktur', cursive;
}
.h-secondary{
    font-size: 1.5rem;
    font-family: 'Fruktur', cursive;
}
.centre{
    text-align: center;
}
