body{
    font: 15px/1.5 Arial,Halvetica,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 4px solid #e8491d;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight  , .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* showcase */

#showcase {
    min-height: 400px;
    background:  url("/img/background_showcase.png") no-repeat  ;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;

}

#showcase p{
    font-size: 20px;
}

/* newsletter */
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}



/* boxes */

#boxes{
    margin-top: 20px;
}


#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 150px;
    height: 180px;
}


footer{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    width: 100%;
}

/* sidebar */


aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

/* main-col */

article#main-col{
    float: left;
    width: 65%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}


/* services */

ul#services li{
    list-style: none;
    padding: 20px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    background-color: #e6e6e6;
}



/* media queries */

@media (max-width:768px){
   header #branding,
   header nav,
   header nav li,
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   article#main-col,
   aside#sidebar
   {
    float: none;
    text-align: center;
    width: 100%;
   }

   header{
    padding-bottom: 20px;
   }
   #shwocase{
    margin-top: 40px;
   }

   #newsletter button, .quote button{
    display: block;
    width: 100%;
   }
   #newsletter form input[type="email"], .quote input , .quote textarea{
    width: 100%;
    margin-bottom: 5px;
   }
   
}

