/*this is for all tag query */
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
    padding:0px;
}
img{
    width: 100%;
}
/*this is end */




/*navigation bar css start*/
/* this is divided into two navigation and section 1*/
/*section 1 divided into two parts horizontally one is content part and second is carousel */
nav{
    /* border: 2px solid red; */
}
.nav-link{
    font-size: 14px;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
    padding: 10px 14px !important;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(251 88 73);
}

.col-sm-8 img {
    height: 100%;
}

.nav-link:hover {
    color: rgb(251 88 73) !important;
}


.header_spc{
    padding: 12px 100px;
}

.banner_spc_hide{
    padding: 0;
    overflow-x: hidden;
}

.banner-left{
    text-align: center;
    background-image: url('../images/top-left-bg.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding: 50% 0%;
}


.banner-left h4{
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
    color: #fff;
    font-weight: 700;
}

.banner-left h6{
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 35px;
    letter-spacing: 5px;
}

.banner-left a{
    padding: 12px 28px;
    background-color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    color: #fb6356;
    font-weight: 700;
}


.carousel-control-prev-icon {
   
    background-color: #fb6355;
    border-radius: 50px;
}

.carousel-control-next-icon {
   
    background-color: #fb6355;
    border-radius: 50px;
}
.carousel-item img{
    height: 100%;
}
.col-sm-8{
    height: 100%;
    /* border:2px solid green; */
}
.section1{
    /* border: 2px solid black; */
}
.col-sm-4 {
    /* border: 2px solid greenyellow; */
}
/* navigation and first section of carosel end*/






/* section2 */
.section2{
    /* border:2px solid blue; */
    width: 100%;
}
/*this section divided into two parts horizontally one is content part[.section2_content_block1] and second one is image part[section2_picture_block2] */
.section2_inside{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
}
@media (max-width: 992px) {
    .section2_inside 
    {
    grid-template-columns: repeat(1, 1fr);
    } 
}

.section2_content_block1{
    /* border: 2px solid green; */
    padding: 60px 15px;
    
}
/*this section is divided into four parts vertically*/

.about_content_block1_item1{
    color:orange;
    padding: 10px 0px
}

.section2_content_block1_item2
{
    font-size: 30px;
    font-style: bolder;
    font-weight: 800;
    padding: 10px 0px;
}

.section2_content_block1_item3{
    padding:10px 0px;
}

.section2_content_block1_item3 div{
    padding: 10px 0px;
}

.section2_content_block1_item4
{
    display: flex;
    justify-content:space-between;
    padding:10px 0px;
    /* border: 2px solid red; */
}

.section2_content_block1_item4 img{
    width: 100%;
}

.section2_picture_block2{
/* border: 2px solid red; */
padding: 60px 15px;
display: flex;
align-items: center; 
}

.section2_picture_block2 img {
    width: 100%;
    height: 83%;
}

/*section2 css end*/








/*this is section3*/
/*this section is divided int two parts vertically one is [section3_block1] and section3_block2*/
.section3{
    /* border: 2px solid green; */
    padding: 50px 0px;
}
.section3_block1{
    /* border: 2px solid blue;   */
}

.section3_block1_item1
{
    /* border: 2px solid red; */
    color: orangered;
    padding: 10px 0px;
}

.section3_block1_item2
{
    /* border: 2px solid red; */
    font-size: 40px;
    padding: 20px 0px;
    font-style: bolder;
    font-weight: 800;   
}

/*this part is owl carosel part where images slide horizontally*/
.section3_block2
{
    /* border: 2px solid red; */
    padding:30px 0px ;
    padding: 15px;
}

.item{
    position: relative;
}

.section3_block2 img
{ width: 100%;
}

.item h3{
text-align: center;
padding: 10px 0px;
font-size: 30px;
font-weight: bold;

}

.main_content_hover{
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.hoverUpcontent{
    border: 2px solid green;
    border-radius: 10px;

    height: 60px;
    color:white;
    background-color:#fb6356;
       overflow: hidden;
    transition: 0.5s;
}
.hoverUpcontent:hover{
    height: 500%;
    background-color:orangered;
    /* font-size: 20px; */
}
.section3_block2 h4{
    color :white;
    background-color: #fb6356;
    z-index: 1;
    position: absolute;
    top:0px;
    padding: 10px;
    font-style: bolder;
    font-weight: 500;
    font-size: 30px;
}
.section3_block2 .item{
    /* border: 2px solid #fb6356; */
}
/* section3 css end */







/* section4*/
/*this section list of chefs*/
/* put picture,name ,work present :horizontally */
.section4
{ /*  border:2px solid red; */
    margin-top: 20px;
}
.section4_inside{
    /* border: 2px solid green; */
    text-align: center;
    padding: 10px 0px;
}
 .section4_inside .section4_block
{
    /* border :2px solid blue; */
    padding: 10px 0px;
}
#section4_block1{
    color:#fb6355
}
#section4_block1 {
    font-style:bold;
    font-weight: 1000;
}

#section4_block3
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media (max-width:768px) {
    #section4_block3{
        grid-template-columns: repeat(1,1fr);
    }
    
}
#section4_block3 .name{
    padding: 10px 0px;
    font-size: 25px;
    font-weight: bold;
}
#section4_block3 .work {
    color:grey
}
#section4_block3 .block{
    color: 2px solid green;
    /* border:2px solid blue; */
    margin:20px;
}

#section4_block3 .block img{
    width: 100%;
}

/* section 4 css end */








/*section 5 css start */
/*this section containe two horizontally block one one content part and one is form part */
.section5{
    /* border: 2px solid green; */
    background-color: rgba(0,0,0,0.4);
    color: white;
    background-image: url('../images/reservation-bg.jpg');
    background-size: cover;
}
.section5_inside{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
@media (max-width:992px) {
    .section5_inside {  grid-template-columns: repeat(1,1fr);
     }
    
} 
#section5_content_block{
    /* border: 2px solid red; */
    margin: 100px 0px;
    max-width: 100%;

}

.section5 .word_contact{
    padding: 10px 0px ;
    font-size: 20px;
}

.line
{ padding:10px;
    font-size: 30px;
    font-size: bold;
    font-weight: 2000;
}

#section5_content_block .content{
    padding:30px 0px;
    width: 100%;
}

#section5_content_block .phone-email{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 10px;
    /* border: 2px solid green; */
    color: black;
    text-align: center;
}

#section5_content_block .phone{
        background-color: white;
    /* border: 2px solid red; */
    padding: 20px 0px;
    border-radius: 10px;
}


#section5_content_block .email{
        background-color: white;
    /* border:2px solid  green; */
    padding: 20px 0px;
        border-radius: 10px;
}

#section5_content_block .phone_numbers{
    color:rgba(0,0,0,0.4);
}
#section5_content_block .phone_numbers :hover {
    color: black;
    font-size: 20px;
}

#section5_content_block .emails{
    color: rgba(0, 0, 0, 0.4);
}
#section5_content_block .emails :hover{
    color: black;
        font-size: 20px;
}

#section5_form_block{
    /* border: 2px solid goldenrod; */
    width: 100%;
    margin: 100px 0px;
    padding: 30px;
    color :black;
    background-color: white;
  
}

@media (max-width:500px) {
    #section5_form_block {
    padding:15px;
    }
    
}

#section5_form_block .form_heading{
    /* border: 2px solid red; */
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-weight: 500;
}

#section5_form_block .form_block1{
    width: 100%;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 0px;
}
@media (max-width:350px) {
    #section5_form_block .form_block1 {
            grid-template-columns: repeat(1, 1fr);
    }
        #section5_content_block .phone-email {
            grid-template-columns: repeat(1, 1fr);
        }
}

#section5_form_block .form_block1 input{ 
    border: 4px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 10px 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#section5_form_block textarea{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    /* color:rgba(0, 0, 0, 0.4); */
    margin: 10px 10px;
        padding: 10px 0px;
}

#section5_form_block button{
    width: 100%;
    margin:20px 0px;
    padding: 10px 0px;
    background-color: #fb6355;
    color:white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}
#section5_form_block button:hover{
    background-color: orangered;
}
/* section 5 css end */










/*Section 6 start */

.section6{
/* border: 2px solid red; */
}
.section6_inside{
    /* border:2px solid green; */
    padding: 40px 0px 20px 0px;
}
.word_klassy{
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px 0px;
    color:#fb6355;
}
.section6 .offer{
    /* border:2px solid red; */
        text-align: center;
        font-size: 30px;
        font-style: bold;
        font-weight: 800;
        margin: 10px 0px;
}

.main_duration{
    /* border: 2px solid red; */
    display: flex;
        align-items: center;
        justify-content: center;
}
.duration{
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    font-size: 20px;
    width: 50%;
}

.duration .lunch_time{
    /* border: 2px solid green; */
    border-radius: 10px;
}
.lunch_time img{
    width:100%;
}

.menu{
    /* border:2px solid red; */
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 0px;
        gap: 10px;
}
@media (max-width:992px) {
    .menu{
     grid-template-columns: repeat(1, 1fr);
    }
    
}

.menu .item{
display: grid;
    grid-template-columns: 2fr 6fr 1.5fr;
    margin:10px;
}
@media (max-width:500px) {
    .menu .item {
        grid-template-columns: repeat(1, 1fr);
    }
    .duration{
        font-size: 10px;
    }

}
.menu_item_price{
    background-color: #fb6356;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
.menu_item_price:hover {
    background-color: orangered;
}
.menu_item_content .heading{
    font-size: 22px;
    font-weight: bold;
}
.menu-img{
    margin: 3px;
}
.menu_item_content{
    margin: 7px;

}
.menu_item_price
{
    margin: 3px;
}

/* section 6 end */















/*section7 start */

.section7{
    background-color: #fb6355;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#social-media-logo
{
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
}
#social-media-logo .logo{
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin:10px;
    border-radius: 30px;
}
#website_logo
{
/* border: 2px solid red; */
}
#copy_right{
    /* border: 2px solid red; */
    display: flex;
        align-items: center;
        justify-content: center;
}
.bottom-section-item{
/* padding: 40px 0px; */
text-align: center;    
/* border: 2px solid red; */
color:white;
font-size: 20px;

}
@media (max-width:500px) {
    .section7 {
            grid-template-columns: repeat(1, 1fr);
        }
    
}
/* section 7 css end */