*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section
  {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #001300;
    animation: changeColor 5s linear infinite;
  }
  @keyframes changeColor
  {
   0%
     {
       filter: hue-rotate(0deg);
     }
   100%
     {
       filter: hue-rotate(360deg);
     }
  }
  section h2
  {
    color: #00ff0a;
    font-weight: 300;
    letter-spacing: 10px;
    }
  section .loader
  {
   position: relative;
   display: Flex;
  }
  section .loader .dot
  {
   position: relative;
   display: flex;
   width: 20px;
   height: 20px;
   background:#00ff0a;
   box-shadow: 0 0 10px #00ff0a,
               0 0 10px #00ff0a,
               0 0 10px #00ff0a,
           0 0 10px #00ff0a,
               0 0 10px #00ff0a,
           0 0 10px #00ff0a;
   margin: 20px 10px;
   border-radius: 50%;
   animation: animateDot 2s linear infinite;
   animation-delay: calc(0.2s*var(--i));
  }
  section .loader #kush .dot
  {
    animation-delay: calc(-0.2s*var(--i));
   }
   @keyframes animateDot
  {
   0%
     {
       transform: scale(0.1);
     }
   10%
     {
       transform: scale(1);
     }
   50%,100%
      {
        transform: scale(0.1);
      }
  }