/* Setting container to flex and width to 80% of view port */
.container{
	display: flex;
	width: 80%;
}
/*Adding background image to each section*/
.one{
	background: url(img/one.jpg);
}
.two{
	background: url(img/two.jpg);
}
.three{
	background: url(img/three.jpg);
}
.four{
	background: url(img/four.jpg);
}
/* Background properties and transition effect to section */
.section{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	cursor: pointer;
	flex: 0.2;
	margin:8px;
	position: relative;
	transition: all 0.7s ease-out;
}

/* section with active class will grow flex to 3 times */
.section.active{
	flex: 3;
	opacity: 0;
}

.section .active h1 {
	color: blueviolet;
}

.section h1 {
	opacity: 0;
}
