*{
  margin:0px;
  padding: 0px;
}
body{
    /* height: 100vh; */
}
#heading{
    text-align: center;
    font-size: 40px;
}
#main_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:700px){
    #main_container{
        height: 90vh;
    }
    #changeColorBtn{
        font-size: 20px;
        padding: 10px;
    }
} 
#changeColorBtn{
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgb(49, 48, 48);
    font-size: 30px;
    background-color: bisque;
    display: block;
    background-color: rgb(0,0,0);
    color :white;
}
#colorChangeBtn :hover{
    background-color: blue;
}
#topColor{
    font-size: 50px;
    margin-bottom: 30px;
}
#bottomColor{
        font-size: 50px;
        margin-top: 30px;
}




