html{
    -webkit-text-size-adjust: 100%;
}

body{
    background: #fff;
    color: #000;
    font-family: Lato,Helvetica,Arial,sans-serif;
    line-height: 1.71429;
}

ul, li, a{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
}

.que{
    /* overflow: hidden;
    max-width: 1200px; */
    display: block;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.que_layout{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.start_que{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 15px 0px 15px 5px;
    float: left;
}

.options{
    float: right;
    margin: 10px 5px 10px 0px;
}

.opt1{
    font-family: "Open Sans",sans-serif;
    background: #ebebeb;
    color: #000000;
    font-size: 12px;
    width: 170px;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    border: 0px none;
}

.opt2{
    font-family: "Open Sans",sans-serif;
    background: #ebebeb;
    color: #000000;
    font-size: 12px;
    width: 170px;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    border: 0px none;
}

.notiBar{
    background-color: rgba(0,99,65,1);
    min-height: 10px;
}

.header_container{
    position: relative;
    padding-top: 12px;
    background-color: #f7f7f7;
    z-index: 2;
}

.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.grid{
    box-sizing: border-box;
    zoom: 1;
    text-align: left;
    font-family: NoSpace;
    font-size: 14px;
    font-size: 1.4rem;
}

.grid::before{
    content: " ";
    display: table;
}

.grid::after{
    clear: both;
    content: " ";
    display: table;
    height: 0;
}

.size12of12{
    width: calc(100%*12/12 - .01px);
}

#header{
    float: left;
    position: relative;
    width: 100%;
}

.column{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    vertical-align: top;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

#logo{
    float: left;
    top: 3px;
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    background-size: contain;
    background-color: #f7f7f7;
    position: relative;
}

a:link, a:visited {
    color: #2a8a15;
    font-weight: 700;
    text-decoration: none;
}

.grid img {
    max-width: 100%;
    height: auto;
}

img{
    vertical-align: bottom;
}

.utility_list {
    margin: 0;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    text-align: right;
    min-height: 1.5em;
}

.utility_link.store_locator {
    position: absolute;
    top: 24px;
    right: 32px;
}

.utility_list>li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
}

.utility_link>a {
    position: relative;
    color: #5b5959;
}

.utility_link>a, .utility_list>a {
    font-weight: 400;
}

#nav {
    clear: left;
    position: relative;
    margin-left: 0;
}

nav{
    display: block;
}

.nav_menu{
    display: block;
    margin-left: 0;
    clear: both;
    overflow: hidden;
    transition: all 250ms cubic-bezier(.42,0,.58,1);
}

#nav li .null_left, #nav li .null_right {
    display: none;
}

#nav ul {
    overflow: hidden;
    margin-bottom: 0;
    margin: 0;
    display: flex;
}

ol, ul {
    list-style: none;
}

#nav .tab {
    line-height: 1;
    display: block;
}

#nav a, .footer a {
    font-weight: 400;
}

#nav .nav_menu {
    clear: both;
    overflow: hidden;
    transition: all 250ms cubic-bezier(.42,0,.58,1);
}

li{
    list-style: none;
    padding: 5px 15px;
}

section{
    position: relative;
    width: 100;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #333;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imageBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imageBox img{
    max-width: 340px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 60px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.sci li img{
    max-width: 40px;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}